.container{
    background-color: #FFF;
    width: 100%;
    height: calc(100vh - 76px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container img{
    height: 350px;
    width: 350px;
}
.logoContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    width: 100%; 
    margin-top: 105px;

}
.hero{
    max-width: 480px;
    object-fit: contain;
    width: auto;
    height: auto;
}
.title{
    color: #121f44;
    text-align: center;
    margin: 28px;
    line-height: 150%;
}
.infoContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box{
    background-color: #fafafa;
    color:#121f44;
    padding: 14px 44px;
    border: 0.5px solid black;
    border-radius: 4px;
    transition: transform 0.4s;

}
.box:hover{
    transform: scale(1.08);
}

@media screen and (max-width:580px){
    .hero{
        max-width: 80%;
    }
    .title{
        font-size: 24px;
    }
    .infoContent{
        flex-direction: column;
        margin: 15px;
        gap: 44px;
    }
    .box{
        width: 80%;
        margin-bottom: 14px;
        text-align: center;
    }
}




